#game-div{
    display: flex;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    height: 90vh;
    width: 90vh;
}

.square{
    border: solid 0.1vh black;
}

.piece{
    width: 100%;
    height: 100%;
}

.square-movement{
    border: solid 0.1vh black;
    background-color: green;
    width: 100%;
    height: 100%;
}