#game-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    height: 90vh;
    width: 90vh;
}

.square{
    border: solid 0.1vh black;
}

.piece{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
}

.square-movement{
    background-color: green;
    width: 100%;
    height: 100%;
    border: none;
}

.piece-capture{
    border: none;
    background-color: red;
    width: 100%;
    height: 100%;
}

#promotion-div{
    height: 45vh;
    width: 11.25vh;
    border: solid 0.3vh black;
    margin-left: 5vh;
}

.promotion-options{
    width: 100%;
    height: 11.25vh;
}